---
layout: page
title: Topics
description: Down here, you can find a classification of the topics that I talk about in this blog.
background: '/img/bg-topics.png'
---

<ul>
  {% for topic in site.topics %}
    <li>
		<h3><a href="{{ topic.url }}">{{ topic.title }}</a></h3>
		{% assign words = topic.subtitle | number_of_words %}
		<p>
			{% if words > 30 %}
				{{ topic.subtitle | truncatewords: 30 }}
				<a href="{{ topic.url }}">Read more.</a>
			{% else %}
				{{ topic.subtitle }}
			{% endif %}
		</p>
    </li>
  {% endfor %}
</ul>