---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
	{% unless page.no_overlay %}
	<div class="overlay"></div>
	{% endunless %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-60 mx-auto">
				<div class="post-heading">
					<h1>{{ page.title }}</h1>
					{% if page.subtitle %}
					<p>{{ page.subtitle }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</header>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">

			{% assign filtered_posts = site.posts | where: 'topic', page.title %}
			{% for post in filtered_posts  %}

			<article class="post-preview">
				<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
				<h2 class="post-title">{{ post.title }}</h2>
				{% if post.subtitle %}
					<h3 class="post-subtitle">{{ post.subtitle }}</h3>
				{% else %}
					<h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
				{% endif %}
				</a>
				<p class="post-meta">
					Topic (s):
					{% for t in post.topic %}
						{% assign topic_name = post.topic[forloop.index0] %}
						{% assign topic_url = null %}
						{% for topic in site.topics %}
							{% if topic.title == topic_name %}
								{% assign topic_url = topic.url %}
							{% endif %}
						{% endfor %}
					
						{% if topic_url %}
							<a href="{{ topic_url | prepend: site.baseurl | replace: '//', '/' }}">
							{{ topic_name }}
							</a>
						{% else %}
							{{ topic_name }}
						{% endif %}

						{% if forloop.rindex0 >= 1 %}
						, <!-- Print a comma -->
						{% endif %}
					{% endfor %}
					Posted on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
					content=post.content %}.          
				</p>
			</article>
			<hr>
			{% endfor %}
			</div>
		</div>
	</div>
</header>
 
 
